# Core dependencies
requests>=2.31.0
python-dotenv>=1.0.1
playwright==1.42.0
beautifulsoup4>=4.12.0
pandas>=2.2.0
apscheduler==3.10.4
python-telegram-bot==20.8
httpx~=0.26.0
pyperclip==1.8.2
motor==3.3.2
pymongo==4.6.1
rx>=3.2.0
pydantic>=2.0.0

# Development dependencies
pytest>=7.4.0
black>=23.3.0
flake8>=6.0.0
mypy>=1.8.0
pytest==8.0.0
pytest-asyncio==0.23.5 